#quit_button {
   font-size: 2em ;
   color: blue;
}
#new_puzzle {
    font-size: 2em ;
    margin-right: 1em;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    color: blue;
}

#rating_selector {
    font-size: 2em ;
    color: blue;
    margin-right: 1em;
    margin-left: 0.3em;
}

#rs_label {
    font-size: 2em ;
    color: blue ;
}

label {
    font-size: 40px;
}

button {
    font-size: 2em;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */

    width: 50%; /* Full-width */
    height: 25px; /* Specified height */
    background: #3516c0;
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

#chartgraphic {
    margin-left: 10px;
}

#reset_btn, #quit_btn, #start_btn {
  font-size : 1em
}
